.mg{width: 1200px;margin: 0 auto ;clear: both;	}
ul{padding: 0;margin: 0;}
li{list-style: none;}
.header .top{background: #29222c;height: 35px;}
.header .top a{color: #d8d8d8; font-size: 14px;font-family: "微软雅黑";line-height: 35px;padding-right: 8px;text-decoration: none;cursor: pointer;}
.header .top span{color: #d8d8d8; font-size: 14px;font-family: "微软雅黑";line-height: 35px;padding-right: 8px;}
.header .top .left{float: left;padding-left: 10px;color: #d8d8d8;line-height: 35px;}
.header .top .right{float: right;}
.header  .mg:after{content: '' ; display: block;overflow: hidden;clear: both;}
.header  .mg:before{content: '' ; display: block;overflow: hidden;clear: both;}
.header .logo{float: left;height: 150px;padding-right: 80px;}
.header .search{width: 450px;float: left;padding: 46px 0;height: 40px;}
.header .search .input-group{height: 40px;border: 5px solid #634772;cursor: pointer;}
.header .search .input-group input{height: 40px;border-radius:0 ;outline: none;}
.header .search .input-group span{background: #634772;height: 40px;border: 1px solid #634772;border-radius:0 ;padding: 0 30px;}
.header .nav{background: #634772;height: 50px;width: 100%;}
.header .nav ul{background: #634772;height: 50px;width: 100%;z-index: 100;}
.header .nav ul li{float: left;line-height: 50px;width: 25%;text-align: center;position: relative;}
.header .nav ul li a{display: block;color: #cecece;text-decoration: none;font-size: 18px;font-family: "微软雅黑";}
/*.header .nav ul li a:hover{background: #322538;}
.header .nav ul li:hover{background: #322538;}*/
.header .nav ul li.active{background: #322538;}
/*.header .nav ul li:hover dl{display: block;width: 100%;}*/
.header .nav dl{display: none;position: absolute;z-index: 100;width: 100%;overflow: hidden;	}
.header .nav dl dd{line-height: 50px;background: url(../img/index/dd_bg.png);}
.header .nav dl dd a{display: block;color:#cecece;text-decoration: none;}
.header .nav dl dd a:hover{background: url(../img/index/dd_bghover.png);}
.page{width: 320px;margin: 0 auto;}
.pagination{border-radius: 0;}
.page ul{clear: both;overflow: hidden;}
.page ul li{border-radius:none ;}
.page ul li a{border-radius: 0px;color: #999899;border: 1px solid #999899;background: transparent;margin-right: 24px;padding: 0px 4px;font-size: 12px;font-family: "微软雅黑";line-height: 14px;}
.page ul li:nth-child(1) a{border-radius: 0;}
.page ul li:nth-child(4) a{margin-right:10px}
.page ul li:nth-child(5) a{color: #999899;border:;background: transparent;margin-right:10px}
.page ul li:nth-child(5) a:hover{color: #999899;border:1px solid #999899;background: transparent;}
.page ul li:nth-child(7) a:hover{color: #999899;border:none;background: transparent;}
.page ul li:nth-child(6) a{margin-right:10px}
.page ul li a:hover{background: none;border: 1px solid #999899;color: #999899;}
.page ul li:first-child a{border-radius: 0px;margin-right:10px}
.page ul li:last-child a{border-radius: 0px;margin-right: 0px;}

.footer:before{content: '' ;clear: both;}
.footer{background: #c396c3;padding-top: 40px;overflow: hidden;clear: both;}
.footer ul li{float: left;width: 25%;height: 60px;line-height: 60px;color: red;font-family: "微软雅黑";font-size: 18px;line-height: 60px;}
.footer ul li span{margin-right: 10px;background: url(../img/index/botton_ing.png) no-repeat;height: 55px;height: 65px;padding: 11px 18px;font-size: 24px;font-family: "微软雅黑";color: red;}
.footer ul{clear:both;overflow: hidden;margin-bottom: 40px;}
.footer dl{float: left;width: 25%;padding-left: 60px;color:#FFFFFF;}
.footer dl dt{font-size: 18px;font-family: "微软雅黑";font-weight: normal;}
.footer dl dd a{font-size: 14px;font-family: "微软雅黑";text-decoration: none;color:#FFFFFF;}
.footer p{color: #e71f19;text-align: center;background: #323333;line-height: 40px;margin: 0;clear: both;}
.footer p span{margin-left: 6px;padding-left: 16px;background: url(../img/index/CO.png) left center no-repeat;}
.c-checkbox span{position: absolute;top: 20px;left: 85px;;display: block;width: 12px;height: 12px;border: 1px solid #666;cursor: pointer;}
.c-checkbox input:checked + span:after{position: absolute;display: block;left:3px;width: 4px;height: 8px;border: solid #666;border-width: 0 2px 2px 0;transform: rotate(45deg);content: "";}
.data-container{float: right;}
