.content{margin: 0 0 20px;}

.content .title{position: relative;}
.content .title .line-1{position: absolute;width: 84%;top: 18px;left:170px;border-top:1px solid #2165D3 ;}
.content .title div{position: absolute;top: 18px;left:145px;}
.content .title .line-2{position: relative;background-color: transparent;}
.content .title .line-2:before { position: absolute;top: 0px;right: 0;left: 0; bottom: 0; border-bottom: 25px solid #2165D3 ;
			 border-left: 25px solid transparent;content: "";
    }
.content .title .line-2:after {position: absolute;left: 1px;right: 0;top: 1px;bottom: 0;border-bottom: 24px solid white;
        border-left: 24px solid transparent;content: "";
    }
    
.content .container h1 span{font-size: 40px ;font-family: "宋体";color: #000000;border-bottom: 1px solid #2165d3;}
.content .container h1 span:last-child{font-size: 16px;font-family: "微软雅黑";color: #b9b9b9;/*border-top: 1px solid #2165d3;*/border-bottom: none;/*border-left: 1px solid #2165D3;*/}
.content .title-til{position: relative;width: 44%;}
.content .container img{float: left;padding: 32px 0 ;margin-right: 42px;width: 100%;}
.content .container .title-til i{position: absolute;padding:8px 95px;border: 1px solid #b9b9b9;top: 15px;}
.container .about_us{padding-top:30px;}
.container .about_us p{font-size: 16px;font-family: "微软雅黑" ;color: #000000;text-indent: 2em;margin-bottom: 22px;line-height: 28px;padding-right: 22px;}
@media only screen and (max-width: 470px) {
	.content .container h1 span{font-size: 40px ;font-family: "宋体";color: #000000;border-bottom: 1px solid #2165d3;}
	.content .container h1 span:last-child{font-size: 16px;font-family: "微软雅黑";color: #b9b9b9;/*border-top: 1px solid #2165d3;*/border-bottom: none;/*border-left: 1px solid #2165D3;*/}
	.content .title-til{position: relative;width: 80%;margin: 0 auto;}
	.content .container img{float: none;padding: 32px 0 12px ;margin-right: 32px;width: 100%;}
}

@media only screen and (max-width: 860px) {
	.content .container h1 span{font-size: 36px ;font-family: "宋体";color: #000000;border-bottom: 1px solid #2165d3;}
	.content .container h1 span:last-child{font-size: 14px;font-family: "微软雅黑";color: #b9b9b9;border-bottom: none;padding-left: 20px;}
	.content .title .line-1{position: absolute;width: 60%;top: 18px;left:165px;border-top:1px solid #2165D3 ;}
	.content .title div{position: absolute;top: 18px;letter-spacing: 130px;}
	.content .title .line-2{position: relative;background-color: transparent;}
	.content .title .line-2:before { position: absolute;top: 0px;right: 0;left: 0; bottom: 0; border-bottom: 21px solid #2165D3 ;
				 border-left: 21px solid transparent;content: "";
	    }
	.content .title .line-2:after {position: absolute;left: 1px;right: 0;top: 1px;bottom: 0;border-bottom: 20px solid white;
	        border-left: 20px solid transparent;content: "";
	    }
	    
}    
@media only screen and (max-width: 430px) {
	.content .title .line-1{position: absolute;width: 45%;top: 18px;left:110px;border-top:1px solid #2165D3 ;}
	.content .container h1 span{font-size:24px ;font-family: "宋体";color: #000000;border-bottom: 1px solid #2165d3;}
	.content .container h1 span:last-child{font-size: 12px;font-family: "微软雅黑";color: #b9b9b9;border-bottom: none;padding-left: 20px;}
	.content .title div{position: absolute;top: 18px;letter-spacing: 130px;left: 92px;}
	.content .title .line-2{position: relative;background-color: transparent;}
	.content .title .line-2:before { position: absolute;top: 0px;right: 0;left: 0; bottom: 0; border-bottom: 19px solid #2165D3 ;
				 border-left: 19px solid transparent;content: "";
	    }
	.content .title .line-2:after {position: absolute;left: 1px;right: 0;top: 1px;bottom: 0;border-bottom: 18px solid white;
	        border-left: 18px solid transparent;content: "";
	    }
.container .about_us p{font-size: 14px;font-family: "微软雅黑" ;color: #000000;text-indent: 2em;margin-bottom: 22px;line-height: 24px;padding-right: 22px;}
}    
