
.header_bottom span{font-size: 16px;font-family: "微软雅黑";height: 58px;line-height: 58px;border-left: 1px solid #9a9a9a;padding: 10px 0 10px 10px;}
.content{background: url(../images/login/bd-images.png) center;padding: 80px 0;}
.content img{margin-left:12%;}
.form{height: 400px;width: 350px;overflow: hidden;margin-right:12% ;background: rgba(140,140,140,0.6);margin-top:40px ;}
.form form{padding: 0 11%;overflow: hidden;}
.form .the-login{height: 90px;border-bottom: 1px solid #ffffff;}
.form .the-login a{font-size:18px;;font-family:"微软雅黑";height: 90px;line-height:90px;color: #FFFFFF;text-decoration: none;}
.form .the-login a:last-child{color: #2165d3;}
.input_in{margin: 12.5% 0;}
.input_in input[placeholder]{color: #8c8c8c;font-size: 14px;font-family: "微软雅黑";}
.button-but{height: 30px;margin: 0;padding: 0;width: 40px;border-right:1px solid #8c8c8c ;border-radius: 0;}
.form-control{height:30px;border: 1px solid #a0a0a0;border-radius:0px;}
.forget-password{color: #FFFFFF;margin-top: 10px ;}
.forget-password input[type="checkbox"]{background: #FFFFFF;}
.forget-password a{color: #FFFFFF;float: right;text-decoration: none;margin-top: -20px;}
.forget-password a:hover{color: #2165d3;float: right;text-decoration: none;}
.form .login{margin-top:30px ;}
.form .login button{display: block;width: 120px ;height: 30px;background: #FFFFFF;text-decoration: none;border: none;text-align: center;font-size: 18px;font-family: "微软雅黑";
line-height: 30px;color: #8c8c8c;}
.form .login a{display: block;width: 130px ;height: 30px;background: #FFFFFF;text-decoration: none;border: none;text-align: center;font-size: 18px;font-family: "微软雅黑";
line-height: 30px;color: #8c8c8c;}
.form .login button:hover{background: #2165d3;color: #FFFFFF;}
.form .login a:hover{background: #2165d3;color: #FFFFFF;cursor: pointer;}
@media only screen and (max-width:1199px ) {
	.content .img{display: none;}
	.form{margin: 0 auto;}
	.content .container{margin: 40px auto 0;display:flex ;align-items: center;justify-content: center;}
}
@media only screen and (max-width: 640px) {
	.form .login button{display: block;width: 100px ;height: 30px;background: #FFFFFF;text-decoration: none;border: none;text-align: center;font-size: 16px;font-family: "微软雅黑";	
	.content .container{margin: 20px auto 0;display:flex ;align-items: center;justify-content: center;}
}