.header_bottom .container .img{width: 75%;padding-left: 10%;}
.title-title{width: 16%;border: 1px solid #c2c2c2;float: left;margin-top: 20px;margin-right: 20px;}
.title-title dl{margin: 0;}
.title-title dl dt{color: #FFFFFF;font-size:16px;padding: 4px 0 ;font-family: "宋体";;background-color: #2165d3;text-align: center;}
.title-title dl dt:first-child span{padding-left:20px;background: url(../images/order/order.png) left center no-repeat;}
.title-title dl dt:first-child + li span{padding-left:20px;background: url(../images/order_details/System-information.png) left center no-repeat;;}
.title-title dl dt:first-child + li + li span{padding-left:20px;background: url(../images/order_details/The-member-center.png) left center no-repeat;} 
.title-title dl dd a{color:#000000;text-decoration: none;text-align: center;line-height: 24px;font-size: 12px;font-family:"微软雅黑" ;}
.title-title dl dd{color:#000000;text-align: center;line-height: 24px;font-size: 12px;font-family:"微软雅黑" ;}
.title-title dl dd a:hover{color: #2165d3;cursor: pointer;}
.title-title .active-1 a{color: #2165D3;}

.code{margin-top:30px;overflow: hidden;width: 75%;float: right;}
.code .code-left img{float: left;margin-right: 20px;}
.code .code-left{text-align: center;width: 60%;float: left;}
.code .code-left div{height: 100px;display: table-cell;vertical-align: middle;text-align: justify;}
.code .code-left div span{font-size: 14px;font-family: "微软雅黑";color: #000000;}
.code .code-right a{float: left;;width: 138px;height: 40px;background: #2165D3;color:#FFFFFF;text-align: center;line-height: 40px;margin-top: 30px;text-decoration: none;}
.code-right p{line-height: 100px;float: right;}
.pay{width: 75%;float: right;}
.pay ul li{margin: 10px 0;border: 2px solid transparent;padding: 0 20px;font-size: 14px;font-family: "微软雅黑";}
.pay ul li:hover{border:2px solid #2165D3;cursor: pointer;}
.pay ul li div{display: none;}
.pay ul li:hover div{display: block;}
.pay li div{float: right;}
.pay li div span{color: red;}
.form{margin:10px 0 20px 20px;}
.form a{text-decoration: none;}
.form span{padding: 5px;border: 1px solid #959595;color: #2165D3;font-size: 14px;font-family: "微软雅黑";}
.form .sec{padding: 20px;background: url(../images/pay/security.png) left center no-repeat;}
.form .Enter-the-password{font-size: 12px;font-family: "微软雅黑";color:#959595}
.form input[type="button"]{padding: 5px 15px ;background: #2165D3;color: #FFFFFF;}

.list{width: 26%;float: right;margin-bottom:20px ;}
.list h3{font-size: 18px;font-family: "微软雅黑";color: #000000;padding-left:5px;border-left: 4px solid #2165D3;}
.list span{padding-right: 20px;font-size: 16px;color: #b9b9b9;background: url(../images/news_details/more.png) right center no-repeat;}
.list span:hover{color: #2165D3;}
.list ul{clear: both;}
.list ul li{padding: 18px;float: left;width: 50%;display:flex ;align-items: center;justify-content: center;}
.list ul li:first-child{background: #dcdcdc;}
.list ul li:first-child + li + li + li{background: #dcdcdc;}
.list ul li:first-child + li + li + li + li{background: #dcdcdc;}

.main{width: 55%;float: left;}
.main h3{font-size: 16px;font-family: "微软雅黑";color: #FFFFFF;background: #649cf7;padding: 6px 20px;}
.main table{font-size: 12px;font-family: "微软雅黑";color:#000000;width: 100%;}
.main table td{padding: 30px 10px;border-bottom: 1px solid #c2c2c2;}
.main table a{display: block;text-decoration: none;cursor: pointer;color:#000000;}

.page{text-align: center;}
.page ul li a{border: none;color: #000000;}
.page ul li input{width: 50px;}
.page ul li a:hover{background: transparent;color: #2165d3;}


.list-left{width: 26%;margin-bottom:20px ;float: left;}
.list-left h3{font-size: 18px;font-family: "微软雅黑";color: #000000;padding-left:5px;border-left: 4px solid #2165D3;}
.list-left span{padding-right: 20px;font-size: 16px;color: #b9b9b9;background: url(../images/news_details/more.png) right center no-repeat;}
.list-left span:hover{color: #2165D3;}
.list-left ul{clear: both;}
.list-left ul li{padding: 18px;;width: 50%;display:flex ;align-items: center;justify-content: center;}
.list-left ul li:hover{background: #DCDCDC;}
.list-left ul li:first-child{background: #dcdcdc;}
.list-left ul li:first-child:hover{background: #FFFFFF;}
.list-left ul li:first-child + li + li + li{background: #dcdcdc;}
.list-left ul li:first-child + li + li + li:hover{background: #FFFFFF;}
.list-left ul li:first-child + li + li + li + li{background: #dcdcdc;}
.list-left ul li:first-child + li + li + li + li:hover{background: #FFFFFF;}


@media only screen and (max-width: 1199px) {	
	.list-left{width: 20%;margin-bottom:20px ;float: left;}
	.main{width: 75%;float: left;}
	.title-title{width: 20%;border: 1px solid #c2c2c2;float: left;}
	.list{width: 100%;float: right;margin-bottom:20px ;}
	
}
@media only screen and (max-width: 993px) {
	.title-title{width: 100%;border: 1px solid #c2c2c2;display:flex ;justify-content: center;margin: 0 auto}
	.main{width: 100%;float: left;}
	.list{width: 100%;float: right;margin-bottom:20px ;}
	.title-title dl{float: left;padding: 5px 10px ;}
	.title-title dl dt{padding:5px 10px ;}
.pay{width: 100%;float: right;}
.code{margin-top:30px;overflow: hidden;width: 100%;float: right;}
	
}
@media only screen and (max-width: 586px) {
	.header_bottom .container .img{width: 100%;padding-left: 10%;clear:both ;overflow: hidden;}	
	.title-title{width: 100%;border: 1px solid #c2c2c2;display:block ;justify-content:center;margin:60px auto 0;clear:both ;overflow: hidden;}
	
}
@media only screen and (max-width: 454px) {
	.main table tr td:nth-child(2) img{width: 50px;}
	.main table tr td span{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 50px;}
	.main table tr td p{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:50px;}
	.main table tr td:nth-child(3){display: none;}
	.header_bottom .container .img{width: 100%;padding-left: 10%;clear:both ;overflow: hidden;}	
	.title-title{width: 100%;border: 1px solid #c2c2c2;display:block ;justify-content:center;margin:40px auto 0;clear:both ;overflow: hidden;}
	.title-title dl{float: none;padding: 5px 10px ;width: 100%;clear: both;}
	.title-title dl dt{padding:5px 10px ;}
}