<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/ionic.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/ionic.bundle.js" ></script>
</head>	
	<ion-view ng-controller="pro_listController" class="pro_list">
		<ion-side-menus>
			<ion-side-menu-content drag-content="false">
				<!--header-->
				<ion-header-bar align-title="left" class="bg-line header_bg">
					<div class="buttons mar-btn">
						<p ng-click="back()">
							<span class="icon ion-ios-arrow-left"></span>返回
						</p>
					</div>
					<div class="title">
						产品列表
					</div>
					<div class="aler_img">
						<img src="img/dian.png" alt="" />
					</div>
				</ion-header-bar>
				<!--header-->
				
				<ion-subheader-bar class="cont_top row" ng-init="bool1=true">
					<div class="col"></div>
					<div class="col shop_on" ng-click="bool1=true;bool2=false;bool3=false;bool4=false">综合&or;</div>
					<div class="col" ng-click="bool1=false;bool2=true;bool3=false;bool4=false">销量&or;</div>
					<div class="col" ng-click="bool1=false;bool2=false;bool3=true;bool4=false">价格&or;</div>
					<div class="col" ng-click="bool1=false;bool2=false;bool3=flase;bool4=true">好评&or;</div>
					<div class="col"></div>
				</ion-subheader-bar>
				<!--content--->
				<ion-content onload="getStorage()">
					<ion-list class="list" ng-show="bool1" show-delete="data.showDelect">
						<ion-item ng-repeat="pro_list in pro_list">
							<img ng-src="{{pro_list.src}}" ui-sref="pr_detail">
							<div class="title_til">
								<h1 ui-sref="pr_detail">{{pro_list.h1}}</h1>
								<p>￥{{pro_list.new_price}}</p>
								<strike>原价：{{pro_list.old_price}}</strike>
								<div class="queding">
									<a ui-sref="order">立即购买</a>
									<a on-tap="addCar($index)">加入购物车</a>
								</div>
							</div>
						</ion-item>
						<ion-infinite-scroll on-infinite="loadMore001()" ng-if="moreBool001" distance = "10%">
						
						</ion-infinite-scroll>
					</ion-list>
					<div ng-show="bool2" class="list">
						<ion-item ng-repeat="pro_list in pro_list | orderBy:'new_price'">
							<img ng-src="{{pro_list.src}}" ui-sref="pr_detail">
							<div class="title_til">
								<h1 ui-sref="pr_detail">{{pro_list.h1}}</h1>
								<p>￥{{pro_list.new_price}}</p>
								<strike>原价：{{pro_list.old_price}}</strike>
								<div class="queding">
									<a ui-sref="order">立即购买</a>
									<a on-tap="addCar($index)">加入购物车</a>
								</div>
							</div>
						</ion-item>
					</div>
					<div ng-show="bool3" class="list">
						<ion-item ng-repeat="pro_list in pro_list | orderBy:'new_price'">
							<img ng-src="{{pro_list.src}}" ui-sref="pr_detail">
							<div class="title_til">
								<h1 ui-sref="pr_detail">{{pro_list.h1}}</h1>
								<p>￥{{pro_list.new_price}}</p>
								<strike>原价：{{pro_list.old_price}}</strike>
								<div class="queding">
									<a ui-sref="order">立即购买</a>
									<a on-tap="addCar($index)">加入购物车</a>
								</div>
							</div>
						</ion-item>
						<ion-infinite-scroll on-infinite="loadMore002()" ng-if="moreBool002" distance = "10%">
						
						</ion-infinite-scroll>
					</div>
					<div ng-show="bool4" class="list">
						<ion-item ng-repeat="pro_list in pro_list">
							<img ng-src="{{pro_list.src}}" ui-sref="pr_detail">
							<div class="title_til">
								<h1 ui-sref="pr_detail">{{pro_list.h1}}</h1>
								<p>￥{{pro_list.new_price}}</p>
								<strike>原价：{{pro_list.old_price}}</strike>
								<div class="queding">
									<a ui-sref="order">立即购买</a>
									<a on-tap="addCar($index)">加入购物车</a>
								</div>
							</div>
						</ion-item>
					</div>
					
				</ion-content>
			</ion-side-menu-content>
		</ion-side-menus>
	</ion-view>
    <script type="text/javascript" src="js/index.js" ></script>
    <script type="text/javascript" src="js/controller.js" ></script>
</html>	