<!---footer-->
<ion-footer-bar>
	<div class="tabs tabs-icon-top">
		<a class="tab-item" ui-sref="home">
			<i class="icon ion-home"></i>
			<p>首页</p>
		</a>
		<a class="tab-item" ui-sref="pro_categories">
			<i class="icon ion-android-apps"></i>
			<p>分类</p>
		</a>
		<a class="tab-item" ui-sref="user">
			<i class="icon ion-android-person"></i>
			<p>我的</p>
		</a>
		<a class="tab-item" ui-sref="car">
			<i class="icon ion-ios-cart"></i>
			<p>购物车</p>
		</a>
	</div>
</ion-footer-bar>
<!---footer-->